.resume-container {
    max-width: 780px;
    margin: auto;
    font-size: 14px;
    color: #424242;
    font-family: "Monaco", monospace;
    font-weight: 600;
}

.header-section {
    display: flex;
    justify-content: center;
}

.profile-pic {
    height: 150px;
    width: 150px;
    border: 3px solid #17711e;
    border-radius: 15px;
}

.header-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
}

.header-details h1 {
    margin: 0px;
}

h1 {
    font-size: 36px;
    color: #17711e;
}

.header-details .about-me {
    margin: 0px;
}

.reach-me {
    display: flex;
    justify-content: space-between;
}

.reach-me-at {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

svg {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.svg-image {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.social-media-details {
    margin-left: 9px;
}

h3 {
    margin: 9px 0;
    color: #17711e;
    font-size: 18px;
}

ul {
    margin: 7px 0;
}

li {
    margin-bottom: 6px;
}

b {
    color: black;
    font-weight: bolder;
}

.content-section {
    margin-top: 18px;
}

.highlight-text {
    color: forestgreen;
}

@media screen and (max-width: 800px) {
    .resume-container {
        margin: 9px;
    }

    svg {
        height: 25px;
        width: 25px;
        margin-right: 9px;
    }

    .svg-image {
        display: inline-block;
        height: 25px;
        width: 25px;
    }

    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-details {
        margin: 0px;
        min-height: 225px;
    }

    .profile-pic {
        height: 175px;
        width: 175px;
        border: 6px solid #17711e;
        border-radius: 87px;
    }

    .profile-name {
        align-self: center;
        text-transform: uppercase;
    }

    .about-me {
        align-self: center;
    }

    .reach-me {
        flex-direction: column;
    }

    .reach-me-at {
        justify-content: flex-start;
        align-items: center;
    }

    .social-media-details {
        margin-left: 0px;
    }

    ul {
        padding-left: 25px;
    }

    .content-section {
        margin-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 32px;
    }
    .about-me {
        font-size: 25px;
    }
}